<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
<Appenders>
    <Console name="LogToConsole" target="SYSTEM_OUT">
        <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
</Appenders>
<Loggers>
    <!-- avoid duplicated logs with additivity=false -->
    <Logger name="JDCB" level="debug" additivity="false">
        <AppenderRef ref="LogToConsole"/>
    </Logger>
    <Root level="error">
        <AppenderRef ref="LogToConsole"/>
    </Root>
</Loggers>
</Configuration>

        <!--<?xml version="1.0" encoding="UTF-8"?>-->
        <!--<Configuration status="WARN" monitorInterval="0" shutdownHook="disable">-->
        <!--    <Appenders>-->
        <!--        <Console name="Console" target="SYSTEM_OUT">-->
        <!--            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>-->
        <!--        </Console>-->
        <!--    </Appenders>-->
        <!--    <Loggers>-->
        <!--        &lt;!&ndash; Logger para seu pacote, mostrando INFO e acima &ndash;&gt;-->
        <!--        <Logger name="JDCB.repository" level="info" additivity="false">-->
        <!--            <AppenderRef ref="Console"/>-->
        <!--        </Logger>-->
        <!--        &lt;!&ndash; ROOT com nível alto, evita logs indesejados das libs &ndash;&gt;-->
        <!--        <Root level="error">-->
        <!--            <AppenderRef ref="Console"/>-->
        <!--        </Root>-->
        <!--    </Loggers>-->
        <!--</Configuration>-->


